<div class="col-xs-12 col-md-3 col-box">
    <div class="card product-show shadow my-3 bg-white rounded">
      <img><%= image_tag(product.image_url, class: "img-responsive center", :size => "250x180")if product.image_url.present?%></img>
      <div class="card-body">
        <a href="#"><h5 class="card-title"><%= link_to product.name, product %></h5></a>
      </div>
      <% cache product do %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= product.description %></li>
        <li class="list-group-item"><%= product.color %></li>
        <li class="list-group-item"><strong><%= number_to_currency(product.price, class:"price")%></strong></li>
      </ul>
      <% end%>
    </div>
  </div>
