<!DOCTYPE html>
<html>
<head>
  <title>Homerun</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="links"><%= link_to "Home", root_path %></li>
        <li class="links"><%= link_to "About", simple_pages_about_path %></li>
        <li class="links"><%= link_to "Products", products_path %></li>
        <li class="links"><%= link_to "Contact", simple_pages_contact_path %></li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path, class: "nav-link") %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="form-group">
      <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
      <%= form.label :q, 'Search for:' %>
      <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control" %>
      <%= form.submit 'Search' %>
      <% end %>
    </div>
  </nav>

  <% if alert %>
  <p id="alert" class="alert alert-primary"><%= alert %></p>
  <% end %>

  <% if notice %>
  <p id="notice" class="alert alert-secondary"><%= notice %></p>
  <% end %>

  <%= yield %>

  <footer class="copyright">
    &copy; 2018 Raft California
  </footer>
</body>
</html>
